{% extends "layout.html" %}

{% block title %}Page 1: Name{% endblock %}

{% block content %}
  <h1>Page 1: What is one cause of Ocean Acidification? </h1>

<ul>
  <li> The overall temperature of the ocean increases</li>
  <li>The overall temperature of the coean decreases</li>
  <li>More ice blocks are formed. </li>
</ul> 
  
 <form action={{ url_for("renderPage2") }} method="POST">
  Type in the EXACT wrting from the options above for you're answer <br>
  <input type="text" name="Answer">
  <input type="submit" value="Submit">

{% endblock %}
